*{
    margin:0;
    padding: 0;
}

header{
    display: flex;
    height: 60px;
    border-bottom: black solid 1px;
    align-items: center;
    justify-content: center;
}

header ul {
    display: flex;
    list-style-type: none;
    height: 60px;

    align-items: center;
    justify-content: center;
}

header ul li:hover{
    background-color:#1757EE;
    color: white;
}

header ul li{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    font-size: 15px;
    font-family: "Fira Sans Condensed",sans-serif;
    font-weight: bold;
    text-decoration: none;  
    color: black;
    
    align-items: center;
    justify-content: center;
}
.main-img{
    height: 380px;
    width: 760px;
}
.containt{
    width: 760px;
}
.main{
    display: flex;
    margin-left: 95px;
    margin-right: 95px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}